<html>
    <head>
        <title>my simple blog!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1><a href="/">bloggity blog!</a></h1>

            <h2>{{post[0]}} <em>by {{post[2]}}</em></h2>
            <p>{{post[1]}}</p>
        </div>
    </body>
</html>