<html>
    <head>
        <title>my simple blog!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1><a href="/">bloggity blog!</a></h1>

            {% for post in posts%}
            <div><a href="/post/{{post.id}}">{{ post.title }} <em>by {{post.user.name}}</em></a></div>
            {% endfor %}

            <a href="/new_post">create new post</a>
        </div>
    </body>
</html>